version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "[DPDBT] "
    target-branch: "master"
    open-pull-requests-limit: 1
    registries:
      - github-nuget
    groups:
      nuget-packages:
        applies-to: version-updates
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "[DPDBT] "
    target-branch: "master"
    open-pull-requests-limit: 1
